<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMG</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="layout-outer-background">
      <div class="layout-header">
        <div class"layout-first-level-navigation">
          <ul class="navigation-list">
            <li class="navigation-tab">
              <span class="navigation-button">
                Home
              </span>
            </li>
            <li class="navigation-tab">
              <span class="navigation-button">
                Über uns
              </span>
            </li>
            <li class="navigation-tab">
              <span class="navigation-button">
                Aktuelles
              </span>
            </li>
            <li class="navigation-tab">
              <span class="navigation-button">
                Kontakt
              </span>
            </li>
            <li class="navigation-tab">
              <span class="navigation-button">
                Impressum
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="layout-content">
        <%= @inner %>
      </div>
      <div class="layout-footer">

      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
