<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMG</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="layout-outer-background">
      <div class="layout-header">
        <div class"layout-first-level-navigation">
          <ul class="navigation-list">
            <li class="navigation-tab">
              <a class="navigation-button" href="/">
                Home
              </a>
            </li>
            <li class="navigation-tab">
              <a class="navigation-button" href="/ueber-uns">
                Über uns
              </a>
            </li>
            <li class="navigation-tab">
              <a class="navigation-button" href="/aktuelles">
                Interessantes
              </a>
            </li>
            <li class="navigation-tab">
              <a class="navigation-button" href="/kontakt">
                Kontakt
              </a>
            </li>
            <li class="navigation-tab">
              <a class="navigation-button" href="/impressum">
                Impressum
              </a>
            </li>
            <%= if Rir.Session.logged_in?(@conn) do %>
              <li class="navigation-tab">
                <a class="navigation-button" href="/administration-settings">
                  Administration
                </a>
              </li>
              <li class="navigation-tab pull-right">
                <form action="/session/delete" method="post">
                  <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
                  <button type="submit" class="navigation-button">
                    <div class="navigation-button" href="/administration_settings">
                      Logout
                    </div>
                  </button>
                </form>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="layout-content">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
