@import 'constants';

body {
  margin: 0px;
}

.layout-outer-background {
}

.layout-header, .layout-footer {
  position: fixed;
  background-color: $grey;
  width: 100%;
  z-index: 1;
}

.layout-content {
  width: 100%;
  position: absolute;
  top: 65px;
  overflow: scroll;
  margin: 0 auto;
  text-align: center;
  background-color: $light-grey;
  z-index: 0;
  min-height: 650px;
}

.layout-header {
  top: 0px;
  display: block;
  border-bottom: 3px solid $dark-blue;
}

.layout-footer {
  bottom: 0px;
  height: 60px;
}

.layout-first-level-navigation {
  height: 62px;
  display: inline-block;
  float: left;
  position: relative;
}

.navigation-list {
  display: inline-block;
  width: 100%;
}

.navigation-tab {
  display: inline-block;
  list-style: outside none none;
  line-height: 30px;
  font-family: Helvetica,Arial,sans-serif;
  margin-right: 2em;
  cursor: pointer;
}

.navigation-button {
  vertical-align: middle;
  text-align: center;
  height: 30px;
  color: $dark-blue;
  text-decoration: none;
}

.navigation-button-logout{
  padding-top: 4px;
  padding-bottom: 4px;
}
