body {
  margin: 0px;
}

.layout-outer-background {
}

.layout-header, .layout-footer {
  background-color: #BBBBBB;
  height: 60px;
}

.layout-content {
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF
}

.layout-header {
  display: block;
  border-bottom: 3px solid #005566;
}

.layout-first-level-navigation {
  display: inline-block;
  float: left;
  position: relative;
}

.navigation-list {
  display: inline-block;
}

.navigation-tab {
  display: inline-block;
  list-style: outside none none;
  line-height: 30px;
  font-family: Helvetica,Arial,sans-serif;
  margin-right: 2em;
}

.navigation-button {
  padding: 10px;
}
