$dark-green:#005566;

body {
  margin: 0px;
}

.layout-outer-background {
}

.layout-header, .layout-footer {
  position: fixed;
  background-color: #BBBBBB;
  width: 100%;
  z-index: 1;
}

.layout-content {
  position: absolute;
  top: 65px;
  overflow: scroll;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  z-index: 0;
}

.layout-header {
  top: 0px;
  display: block;
  border-bottom: 3px solid $dark-green;
}

.layout-footer {
  bottom: 0px;
  height: 60px;
}

.layout-first-level-navigation {
  display: inline-block;
  float: left;
  position: relative;
}

.navigation-list {
  display: inline-block;
}

.navigation-tab {
  display: inline-block;
  list-style: outside none none;
  line-height: 30px;
  font-family: Helvetica,Arial,sans-serif;
  margin-right: 2em;
  cursor: pointer;
}

.navigation-button {
  padding: 10px;
  color: $dark-green;
  text-decoration: none;
}
