.cmg-logo {
  width: 100%;
  display: block;
  text-align: center;
}

.cmg-logo__container {
  display: inline-block;
}

.justify {
  margin-top: 2px;
  margin-bottom: 2px;
  vertical-align: center;
  font-weight: bold;
}

.cmg-logo__header {
  width: 100%;
}

.cmg-logo__rule {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}

.cmg-logo-title {
  font-weight: bold;
}

.cmg-logo__initials {
  padding-left: 4%;
  padding-right: 4%;
}

.cmg-logo__fields {
  display: inline-block;
  width: 30%;
}
