$dark-green: #005566;

$light-grey: #EEEEEE;

$grey: #BBBBBB;

$dark-white: #FFFFFF;

$avg-blue: #2222BB;

$dark-blue: #111166;

$light-blue: #00CCFF;

$dark-blue-transparent: rgba(17, 17, 102, .6);

$light-blue-transparent: rgba(200, 00, 00, .8);

$black-transparent: rgba(0, 0, 0, .1);
