<h1>Hier stellen wir uns in kürze vor</h1>

<%= for member <- @members do %>
  <h2> <%= member.first_name %> <%= " " %> <%= member.last_name %> </h2>
  <% if member.image_url do %>
    <img src=<%= member.image_url %>> </img>
  <% end %>
<% end %>

<!-- <img src="//c2.staticflickr.com/6/5683/21732055838_8983c36dda_h.jpg"></img> -->
